/* header */

.header {
  max-width: 1100px;
  height: 293px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  margin: 133px 61px 138px 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.header__links-list {
  display: flex;
  justify-content: center;
  gap: 26px;
  list-style: circle;
  text-wrap: nowrap;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  align-self: center;
  width: 129.11px;
  height: 104.65px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-size:18px;
  line-height: 24.3px;
  font-weight: 400;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  font-style: normal;
}

.address__header {
  margin: 95px 50px 102px 0;
  max-width: 240px;
}

/* Cover */

.cover {
  max-width: 1100px;
  min-height: 757px;
  margin-bottom: 185px;
  padding-top: 165px;
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0
}
.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 165px;
  padding:0 50px 0 50px;
}

.aligned-text {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.3em;
  color: #FFFFFF;
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 25px;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  display: inline;
  letter-spacing: normal;
}

.cover__description {
  margin: 103px 50px 50px 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-self: flex-end;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  word-spacing: 0.9em;
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-wrap: nowrap;
  color: #FFFFFF;
  padding: 12px 32px 11px 31px;
  z-index: 1;
}

/* Lots */

.lots {
  max-width: 1052px;
  min-height: 723px;
  margin: 0 24px 120px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 35px;
  text-align: start;
  text-transform: uppercase;
  padding: 0 0 32px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2em;
  color: #FFFFFF;
  text-align: left;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  color: #FFFFFF;
  text-align: left;
  z-index: 1;
  align-self: start;
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  text-decoration: underline;
  color: #000000;
  display: block;
  margin: 34px 40px;
}

/* About */

.about {
  max-width: 1052px;
  min-height: 595px;
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 359px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 72px 0 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 136px 0 100px;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Footer  */

.footer {
  max-width: 1100px;
  min-height: 180px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
 align-self: center;
}

.footer__menu {
  width: 164px;
  height: 64px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  justify-self: end;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}